.title {
    display: inline-block;
}

.title button{
    min-width: auto;
}

.favoriteButton {
    display: inline-block;
    position: absolute;
    margin: 40px 20px;
    right: 0px;
}

@media(--mediumScreen) {
    .favoriteButton {
        margin-right: 50px;
    }
}