.title {
    display: inline-block;
}

.itemInfo img {
    max-width: 100%;
    height: auto;
}

.favoriteButton {
    display: inline-block;
    position: absolute;
    margin: 30px;
    right: 0px;
}