@font-face {
    src: url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
}

body {
    font-family:'Roboto';
}
.wrapper {
    position: relative;
    margin: 5px auto;
    padding: 10px;
}
.content {
    background-color: #F6F6F6;
}