.wrapper {
    position: relative;
    background-color: #F6F6F6;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
}

@media (--mediumScreen) {
    .wrapper {
        width: 80%;
    }
}